@import url("https://fonts.googleapis.com/css?family=Dancing+Script:700");

html {
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 900px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.container h1 {
  font-size: 100px;
}

.threed {
  font-family: "Dancing Script";
  text-align: center;
  font-weight: 700;
  color: white;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
  text-shadow: -10px 0 rgba(0, 255, 255, 0.4), 10px 0 rgba(255, 0, 255, 0.4);
  font-size: 70px;
}